body {
	font-family: 'Roboto', 'Helvetica', sans-serif;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.header {
	min-height: 76px;
	margin-bottom: 45px;
	width: 100%;
	background: #4b73b5;
}

.header__container {
	width: 1060px;
	margin: 0 auto;
	position: relative;
}

.logo-header {
	position: absolute;
	top: 20px;
	left: 0;
}

.contacts {
	position: absolute;
	top: 20px;
	right: 0;
}

.contacts__phone {
	font-size: 21px;
	color: #ffffff;
	text-decoration: none;
}

.schedule {
	position: absolute;
	top: 46px;
	right: 0;
}

.schedule {
	display: block;
	font-size: 14px;
	color: #ffffff;
}

.schedule:hover .window {
	display: block;
} 

.schedule:hover {
	text-decoration: underline;
	color: rgba(255,255,255,0.7)
}

.window {
	display: none;
	width: 164px;
	height: 76px;
	background-color: #fff;
	position: absolute;
	bottom: -88px;
	right: -5px;
	z-index: 1;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.week {
	color: #4b73b5;
	font-weight: bold;
	font-size: 14px;
	width: 125px;
	margin-left: 20px;
}

.break {
	font-size: 14px;
	color: black;
	width: 125px;
	margin-left: 20px;
}

.maincontent {
	width: 1100px;
	margin: 0 auto;
}

.maincontent__sidebar {
	width: 125px;
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}

.menu__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu__list .menu__item {
	margin-bottom: 42px;
}

[class *= "menu__link"] {
	color: #4b73b5;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2.4px;
	text-decoration: none;
}

[class *= "menu__link"]:hover {
	color: #221f1f;
}

.menu__link-1:before {
	content: "";
	width: 24px;
	height: 20px;
	background: url("img/main_icon.png") center top no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px; 
}

.menu__link-2:before {
	content: "";
	width: 24px;
	height: 20px;
	background: url("img/feed_icon.png") center top no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px; 
} 

.menu__link-3:before {
	content: "";
	width: 24px;
	height: 20px;
	background: url("img/team_icon.png") center top no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px; 
}

.maincontent__container {
	width: 903px;
	margin: 0 auto;
	position: relative;
	bottom: 225px;
	left: 105px;
}

.airplane {
	display: inline-block;
	vertical-align: middle;
	width: 903px;
	position: relative;
}

.airplane__image {
	float: left;
	overflow: hidden;
}

.airplane__image img {
	margin: 0 -110px 0 0;
}

.section {
	width: 256px;
	min-height: 455px;
	display: inline-block;
	vertical-align: middle;
}

.section__link {
	color: #221f1f;
	text-decoration: none;
}

.section__link:hover {
	display: block;
	border: 1px solid #e8e9ed;
	width: 254px;
}

.section__image {
	width: 70px;
	height: 70px;
	background-color: #4b73b5;
	border-radius: 50%;
	margin-top: 40px;
	margin-bottom: 35px;
	position: relative;
	left: 90px;
}

.section__image--flower {
	background-image: url("img/flower.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.section__image--star {
	background-image: url(img/mark-as-favorite-star.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.section__image--pallete {
	background-image: url("img/painter-palette.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.section__title {
	text-align: center;
	font-size: 10,78px;
	text-transform: uppercase;
}

.section__text {
 	text-align: center; 
 	font-size: 18px;
	font-weight: lighter;
}

.list-elem {
	font-size: 18px;
	font-weight: lighter;
	vertical-align: left;
}

.price {
	font-size: 54px;
	text-align: center;
	margin-bottom: 40px;
}

.dollar {
	font-size: 30px;
}

.airplane__base {
	margin-bottom: 30px;
}

.airplane__title {
	margin: 0;
	font-size: 49px;
}

.last-news {
	font-size: 18px;
	font-weight: lighter;
	padding-top: 30px;
	padding-bottom: 30px;
}

.last-news--border {
	border-bottom: 1px solid #f5f5f5;
	margin: 0;
}

.news-image {
	width: 160px;
	height: 160px;
	border-radius: 50px;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}

.photo {
	border-radius: 50%;
  	width: 100%;
  	max-width: 100%;
  	height: 100%;
  	margin: 0 auto;
}
 
.news-content {
 	display: inline-block;
 	vertical-align: middle;
 	width: 660px;
 	line-height: 30px;
 	margin-left: 20px;
}

.news-content__time {
 	font-size: 15px;
 	color: #c1c1c1;
}

.news-content__title {
 	margin: 0;
}

.news-content__text {
	margin-top: 5px;
}
 
.pagination {
	margin: 0 auto;
	width: 385px;
}

.pagination__pages {
	color: #656464;
}

.buttons__list {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.item {display: inline;}

.prev-link {
    color: black;
    font-weight: bold;
    float: left;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.prev-link--active {
    background-color: #4b73b5;
    color: white;
    border-radius: 5px;
}

.buttons__list li a:hover:not(.prev-link--active) {background-color: #ddd;}


.buttons {
	display: inline-block;
	vertical-align: middle;
}

.prev-link--lt {
	color: #656464;
}

.footer {
	background: #4b73b5;
}

.footer {
	min-height: 76px;
}

.footer__container {
	position: relative;
	height: 76px;
	width: 1060px;
	margin: 0 auto;
}

.about {
	width: 240px;
	position: absolute;
	left: 0;
}

.about {
	font-size: 14px;
	color: #fff;
}

.loftschool {
	color: #fff;
}

.autor {
	font-weight: bold;
}

.logo-footer {
	width: 125px;
	position: absolute;
	left: 460px;
	top: 20px;
}

.social-list {
	position: absolute;
	right: 0;
	top: 19px;
}

.social-list {
	font-weight: bold;
	font-size: 14px;
	color: #fff;
}

.social-icons { 
	display: inline-block;
	vertical-align: middle;
	width: 150px;
	position: absolute;
	right: 0;
	top: 40px;
}

.icons {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	list-style: none;
}

.icons__item {
	display: inline;
}

.site {
	float: left;
	margin-right: 8px;
	opacity: 0.5;
	width: 22px;
	height: 22px;
	border-radius: 50px;
	background-color: #fff;
}

.site:hover {
	opacity: 1;
}

.site--vkontacte {
	background-color: #fff;
	background-image: url("img/vk.png");
	background-repeat: no-repeat;
	background-position: center center; 
}

.site--facebook {
	background-color: #fff;
	background-image: url("img/fb.png");
	background-repeat: no-repeat;
	background-position: center center; 
}

.site--google {
	border-radius: 50px;
	background-color: #fff;
	background-image: url("img/google.png");
	background-repeat: no-repeat;
	background-position: center center; 
}

.site--twitter {
	border-radius: 50px;
	background-color: #fff;
	background-image: url("img/twitter.png");
	background-repeat: no-repeat;
	background-position: center center; 
}

.site--mail {
	border-radius: 50px;
	background-color: #fff;
	background-image: url("img/mail.png");
	background-repeat: no-repeat;
	background-position: center center; 
}