* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', 'Helvetica', sans-serif;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.header {
	min-height: 77px;
	margin-bottom: 45px;
	width: 100%;
	background: #4b73b5;
}

.header__container {
	display: flex;
	width: 1100px;
	margin: 0 auto;
	justify-content: space-between;
}

.container {
	width: 1100px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	padding-left: 20px;
	padding-right: 20px;
}

.sidebar {
	width: 17%;
}

.maincontent {
	width: 83.5%;
}

.footer {
	background: #4b73b5;
}

.footer__container {
	display: flex;
	justify-content: space-between;
	width: 1100px;
	min-height: 77px;
	margin: 0 auto;
}