.booking {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.booking__container {
	width: 280px;
	height: 290px;
	padding: 20px 5px 20px 5px;
	text-align: center;
	background: #4b73b5;
	background-image: url("../../img/pattern.png");
}

.booking__text {
	font-size: 18px;
	color: #fff;
	line-height: 30px;
}

.question {
	margin: 0;
}

.question-link {
	font-weight: bold;
	color: #fff;
}

.question-link--none {
	text-decoration: none;
	white-space: nowrap;
}