.wrapper {
	width: 100%
	height: 100%;
}

.wrapper__welcome {
	width: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	animation: welcomeAnimation 1s; 
}

@keyframes welcomeAnimation {
   0% {
   opacity:0; 
    transform: translateY(0);
  }

  50% {
   	opasity: 0;
   	transform: translateY(-100px);
   }

  60% {                                        
    opacity: 0;
    transform: translateY(100px);
    transform: translateX(0);
  }

  75% {
    transform: translateY(-50px);
   
  }

  90% {
    transform: translateY(50px);
    transform: translateX(0);
  }

  to {
    transform: translateY(0);;
  }
}

.welcome-link {
	text-decoration: none;
}

.button-intro {
	width: 207px;
	height: 45px;
	display: flex;
	cursor: pointer;
	background: #4b73b5;
	border-radius: 5px;
	border: 1px solid #ddd;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2.2px;
	text-transform: uppercase;
	padding-left: 20px;
	box-sizing: border-box;
	background-image: url(../../img/Vector-Smart-Object3.png);
	background-repeat: no-repeat;
	background-position: 90% 14px;
}

.button-intro:hover {
	color: #4b73b5;
	background: #fff;
	background-image: url(../../img/main_icon-intro.png);
	background-repeat: no-repeat;
	background-position: 90% 14px;
	border: 1px solid #fff;
}


.maincontent__airplane-image {
	box-sizing: border-box;
	margin-inline-start: 0;
	margin-inline-end: 0;
	margin-top: -33px;
	margin-left: 20px;
	margin-bottom: 12px;
	width: 900px;
}

.maincontent__tariffs-list {
	width: 780px;
	display: flex;
	margin-bottom: 50px;
	margin-right: auto;
}

.maincontent__news {
	margin-bottom: 12px;
	margin-right: 48px;
	padding-left: 20px;
}

.section {
	min-width: 249px;
	min-height: 456px;
	margin-left: 20px;
}

.section__link {
	color: #221f1f;
	text-decoration: none;
}

.section__link:hover {
	display: block;
	border: 1px solid #e8e9ed;
	width: 100%;
}

.section__image {
	width: 70px;
	height: 70px;
	background-color: #4b73b5;
	border-radius: 50%;
	margin-top: 40px;
	margin-bottom: 35px;
	margin: 40px auto 34px auto;
}

.section__image--flower {
	background-image: url("../../img/flower.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.section__image--star {
	background-image: url(../../img/mark-as-favorite-star.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.section__image--pallete {
	background-image: url("../../img/painter-palette.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.section__text {
 	font-size: 18px;
	font-weight: light;
	line-height: 30px;
	text-align: center;
	margin: 0;
	padding: 0 5px;
	margin-bottom: -15px;
}

.section__list { 
	margin-left: 18px;
	margin-bottom: 0;
	padding-left: 37px;
	line-height: 36px;
}

.list-elem {
	font-size: 18px;
	font-weight: light;
}

.price {
	font-size: 54px;
	text-align: center;
	margin-bottom: 36px;
	margin-top: 18px;
}

.dollar {
	font-size: 30px;
}

.pattern-section {
	font-size: 18px;
	font-weight: light;
	padding-top: 30px;
	padding-bottom: 26px;
	display: flex;
}

.pattern-section--border {
	border-bottom: 1px solid #f5f5f5;
	margin: 0;
}

.pattern-image {
	width: 160px;
	height: 160px;
	margin: 0;
}

.pattern-image__photo {
	border-radius: 50%;
	width: 160px;
	height: 160px;
}

.pattern-image--client {
	min-width: 160px;
	min-height: 160px;
	border-radius: 50%;
	background: url("../../img/Igor.png") center center no-repeat;
}
 
.pattern {
 	width: 853px;
 	line-height: 30px;
 	margin-left: 20px;
 	margin-bottom: -27px;
}

.pattern__time {
 	font-size: 15px;
 	color: #c1c1c1;
}

.pattern__text {
	margin: 0;
}

.review {
	margin-bottom: 45px;
	margin-left: 10px;
}

.team {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	text-align: center;
}

.team-elem {
	width: 30%;
	font-size: 15px;
	margin-bottom: 40px;
	margin-right: 20px;
	text-align: center;
}

.team-picture {
	width: 160px;
	height: 160px;
	margin: 0 auto 0 auto;
	position: relative;
}

.team-picture__photo {
	border-radius: 50%;
	width: 100%;
	height: 100%;
  	margin: 0 auto;
  	opacity: 1;
}

.team-picture__name {
	width: 100%;
	height: 100%;
	border-radius: 100px;
	color: #fff;
	background-color: rgba(0,0,.3,.4);
	font-size: 24px;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 70px;
	box-sizing: border-box;
	text-align: center;
}

.team-picture__name:hover {
	background-color: transparent;
}

.team-content {
	min-width: 294px;
	margin: 0 auto;
}

.team-content__about-worker {
	line-height: 20px;
}

.partners__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.partners__item {
	width: 33.3%;
	display: flex;
	flex: 1 1 250px;
	margin-bottom: 80px;
	text-align: center;
}

.partners__link {
	display: block;
	width: 100%;
	height: 100%;
}

.partners-img {
	filter: grayscale(100%);
}

.partners-img:hover {
	filter: grayscale(0%);
}

.partners-img--bmp {
	margin-top: 30px;
}
