.airplane {
	width: 903px;
	position: relative;
	bottom: 32px;
}

.airplane__image {
	overflow: hidden;
	align-self: flex-start;
}

.airplane__image img {
	margin: 0 -110px 0 0;
}

.airplane__base {
	width: 780px;
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 40px;
}

.section {
	width: 256px;
	min-height: 455px;
}

.section__link {
	color: #221f1f;
	text-decoration: none;
}

.section__link:hover {
	display: block;
	border: 1px solid #e8e9ed;
	width: 254px;
}

.section__image {
	width: 70px;
	height: 70px;
	background-color: #4b73b5;
	border-radius: 50%;
	margin-top: 40px;
	margin-bottom: 35px;
	margin-left: 90px;
}

.section__image--flower {
	background-image: url("../../img/flower.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.section__image--star {
	background-image: url(../../img/mark-as-favorite-star.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.section__image--pallete {
	background-image: url("../../img/painter-palette.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.section__title {
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
}

.section__text {
 	font-size: 18px;
	font-weight: lighter;
	line-height: 30px;
	text-align: center;
}

.section__list { 
	margin-left: 18px;
	line-height: 40px;
}

.list-elem {
	font-size: 18px;
	font-weight: lighter;
}

.price {
	font-size: 54px;
	text-align: center;
	margin-bottom: 40px;
}

.dollar {
	font-size: 30px;
}

.last-news {
	font-size: 18px;
	font-weight: lighter;
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
}

.last-news--border {
	border-bottom: 1px solid #f5f5f5;
	margin: 0;
}

.news-image {
	width: 160px;
	height: 160px;
	margin-top: 10px;
}

.photo {
	border-radius: 50%;
	max-width: 100%;
	max-height: 100%;
}

/*comments*/
.news-image--client {
	width: 160px;
	height: 160px;
	border-radius: 50px;
	background: url("../../img/Vector-Smart-Object-client.png") center center no-repeat;
}
 
.news-content {
 	width: 690px;
 	line-height: 30px;
 	margin-left: 20px;
}

.news-content__time {
 	font-size: 15px;
 	color: #c1c1c1;
}

.news-content__text {
	margin-top: 5px;
}

.team {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}

.team__picture {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	margin-left: 45px;
}

.team__photo {
	border-radius: 50%;
	max-width: 100%;
	max-height: 100%;
  	margin: 0 auto;
  	/*border-style: none;*/
	/*display: block;*/
}

.team__content {
	width: 260px;
}
.section {
	width: 30%;
	min-height: 376px;
	font-size: 15px;
}

.about__worker {
	line-height: 20px;
	margin: 0;
}

.partners__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 750px;
	margin-left: auto;
}

.partners__item {
	display: flex;
	flex: 1 1 200px;
	flex-wrap: wrap;

}

.partners__link {
	display: block;
	min-width: 160px;
	min-height: 160px;
	margin-left: 90px;
}

.partners__link--bmp {
	background: url(../../img/bmp.png) no-repeat;
	background-position: center center;
}

.partners__link--tetra {
	background: url(../../img/logo-2-tetra.png) no-repeat;
	background-position: center center;
}

.partners__link--sibirian {
	background: url(../../img/Vector-Smart-Object-sibirian.png) no-repeat;
	background-position: center center;
}

.partners__link--one {
	background: url(../../img/Vector-Smart-Object-oneAir.png) no-repeat;
	background-position: center center;
}

.partners__link--bing {
	background: url(../../img/Vector-Smart-Object-bingAir.png) no-repeat;
	background-position: center center;
}

.partners__link--ural {
	background: url(../../img/Vector-Smart-Object-ural.png) no-repeat;
	background-position: center center;
}
