
.contacts {
	width: 50%;
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: flex-end; 
	margin-top: 18px;
	margin-right: 20px;
	margin-bottom: 2px;
}

.contacts__shedule {
	margin-right: -9px;
}

.phone-link {
	font-size: 21px;
	font-style: normal;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
}

.schedule-button {
	border: none;
	background: transparent;
	cursor: pointer;
	font-size: 14px;
	color: #ffffff;
	margin-right: -5px;
}

.schedule-button:hover .window {
	right: 20px;
	opacity: 1;
} 

.schedule-button:hover {
	text-decoration: underline;
	color: rgba(255,255,255,0.7)
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #fff;
	position: absolute;
	top: -8px;
	right: 0;
}

.window {
	right: -9999px;
	opacity: 0;
	transition: opacity	.5s;	
	width: 164px;
	height: 76px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	position: absolute;
	bottom: -75px;
	right: 20px;
}

.window:before {
	content: "";
	display: block;
	height: 30px;	
	left: 0;
	right: 0;
	top: -29px;
	position: absolute;	 		
}

.week {
	color: #4b73b5;
	font-weight: bold;
	font-size: 14px;
	width: 125px;
	margin-left: 20px;
}

.break {
	font-size: 14px;
	color: black;
	width: 125px;
	margin-left: 20px;
}