
.contacts {
	margin-left: auto;
	margin-top: 20px;
}

.phone-link {
	font-size: 21px;
	font-style: normal;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
}

.schedule-button {
	border: none;
	background: transparent;
	cursor: pointer;
	font-size: 14px;
	color: #ffffff;
	margin-left: 60px;
}

.schedule-button:hover .window {
	display: block;
} 

.schedule-button:hover {
	text-decoration: underline;
	color: rgba(255,255,255,0.7)
}

.window {
	display: none;
	width: 164px;
	height: 76px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	/*z-index: -1;*/
}

.week {
	color: #4b73b5;
	font-weight: bold;
	font-size: 14px;
	width: 125px;
	margin-left: 20px;
}

.break {
	font-size: 14px;
	color: black;
	width: 125px;
	margin-left: 20px;
}