.menu__list {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
}

.menu__list .menu__item {
	margin-bottom: 25px;
}

[class *= "menu__link"] {
	color: #4b73b5;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2.2px;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
}

[class *= "menu__link"]:hover {
	color: #221f1f;
}

.menu__link-main:before {
	content: "";
	width: 24px;
	height: 20px;
	background: url("../../img/main_icon-blue.png") no-repeat;
	margin-right: 20px;
}

.menu__link-reviews:before {
	content: "";
	width: 24px;
	height: 20px;
	background: url("../../img/feed_icon.png")  no-repeat;
	margin-right: 20px; 
} 

.menu__link-team:before {
	content: "";
	width: 24px;					
	height: 20px;
	background: url("../../img/team_icon.png")  no-repeat;
	margin-right: 20px; 
}