.menu {
	margin-bottom: 14px;
}

.menu__list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu__list .menu__item {
	margin: 0 90px 0 0;
}

.menu__link {
	color: #4b73b5;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1.5px;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	transition: .5s;
}

.menu__link:hover {
	color: #221f1f;
}

.active {
	color: #221f1f;
	pointer-events: none;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1.5px;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
}

.active--main:before {
	display: block;
	content: "";
	width: 24px;
	height: 20px;
	background: url("../../img/main_icon.png") no-repeat;
	margin-right: 13px;
}

.active--reviews:before {
	display: block;
	content: "";
	width: 24px;
	height: 20px;
	background: url("../../img/feed_icon-black.png") no-repeat;
	margin-right: 13px;
}

.active--team:before {
	display: block;
	content: "";
	width: 24px;
	height: 20px;
	background: url("../../img/team_icon_black.png") no-repeat;
	margin-right: 13px;
}

.menu__link--main:before {
	display: block;
	content: "";
	width: 24px;
	height: 20px;
	background: url("../../img/main_icon-blue.png") no-repeat;
	margin-right: 13px;
	transition: .5s;
}

.menu__link--main:hover:before {
	display: block;
	content: "";
	width: 24px;
	height: 20px;
	background: url("../../img/main_icon.png") no-repeat;
	margin-right: 13px;
}


.menu__link--reviews:before {
	display: block;
	content: "";
	width: 24px;
	height: 20px;
	background: url("../../img/feed_icon.png")  no-repeat;
	margin-right: 13px;
	transition: .5s; 
} 

.menu__link--reviews:hover:before {
	display: block;
	content: "";
	width: 24px;
	height: 20px;
	background: url("../../img/feed_icon-black.png")  no-repeat;
	margin-right: 13px; 
} 


.menu__link--team:before {
	display: block;
	content: "";
	width: 24px;					
	height: 20px;
	background: url("../../img/team_icon.png")  no-repeat;
	margin-right: 13px; 
	transition: .5s;
}

.menu__link--team:hover:before {
	display: block;
	content: "";
	width: 24px;					
	height: 20px;
	background: url("../../img/team_icon_black.png")  no-repeat;
	margin-right: 13px; 
}

