.pagination {
	width: 100%;
	display: flex;
	justify-content: center;
    font-size: 14px;
}

.pagination__pages {
	color: #656464;
	margin-right: 10px;
}

.buttons__list {
    list-style: none;
    padding: 0;
  	margin: 0;
    display: flex;
}

.prev-link {
    color: black;
    font-weight: bold;
    padding: 5px 9px;
    text-decoration: none;
    border-radius: 2px;
}

.prev-link--active {
    background-color: #4b73b5;
    color: white;
    border-radius: 5px;
}

.buttons__list li a:hover:not(.prev-link--active) {
	background-color: #ddd;
}

.prev-link--lt {
	color: #656464;
}