.pagination {
	display: flex;
	align-items: center;
    font-size: 14px;
    margin-bottom: 19px;
    justify-content: center;
}

.pagination__pages {
	display: block;
	color: #656464;
}

.buttons__list {
    list-style: none;
    padding: 0;
    display: flex; 
    margin: 0 0 0 10px;
}

.item__link {
    color: #000;
    display: block;
    width: 25px;
    height: 25px;
    text-decoration: none;
}

.item__link-block {
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	box-sizing: border-box;
	text-align: center;
}

.item__link-block--active {
	width: 25px;
    height: 25px;
	background: #4b73b5;
	color: #fff;
	border-radius: 2px;
}

.item__link:hover:not(.item__link-block--active) {
	background-color: #ddd;
}

.item__link-block--arrow{
	color: #656464;
}