.pagination {
	width: 400px;
	display: flex;
    margin: 0 auto;
}

.pagination__pages {
	color: #656464;
	margin-right: 15px;
}

.buttons__list {
    list-style: none;
    padding: 0;
  	margin: 0;
    display: flex;
}

.prev-link {
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.prev-link--active {
    background-color: #4b73b5;
    color: white;
    border-radius: 5px;
}

.buttons__list li a:hover:not(.prev-link--active) {
	background-color: #ddd;
}

.prev-link--lt {
	color: #656464;
}