.social-contacts {
	margin: 15px auto 0;
}

.social-list {
	font-weight: bold;
	font-size: 14px;
	color: #000;
}

.social-icons { 
	width: 150px;
	margin-top: 5px;
}

.icons {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}

.icons__item {
	display: flex;
	margin-right: 8px;
}

.site {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-color: #fff;
}

.site--vkontacte {
	background-color: #fff;
	background-image: url("../../img/vk.png");
	background-repeat: no-repeat;
	background-position: center center; 
}

.site--facebook {
	background-color: #fff;
	background-image: url("../../img/fb.png");
	background-repeat: no-repeat;
	background-position: center center; 
}

.site--google {
	background-color: #fff;
	background-image: url("../../img/google.png");
	background-repeat: no-repeat;
	background-position: center center; 
}

.site--twitter {
	background-color: #fff;
	background-image: url("../../img/twitter.png");
	background-repeat: no-repeat;
	background-position: center center; 
}

.site--mail {
	background-color: #fff;
	background-image: url("../../img/mail.png");
	background-repeat: no-repeat;
	background-position: center center; 
}
