.maincontent__tariffs-title {
	margin: 0px;
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 29px;
	text-align: center;
}

.section__title {
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	margin: 0 0 18px 0;
	letter-spacing: 1.4px;
}

.maincontent__news-title {
	margin: 0px;
	font-size: 49px;
}

.pattern__title {
	font-size: 18px;
	margin-bottom: 2px;
}

.review__title {
	font-size: 49px;
	margin: 0;
}

.feedback-title {
	font-size: 49px;
	margin-bottom: 15px;
	margin-top: 0;
}

.team__title {
	font-size: 49px;
	margin-top: 25px;
}

.team-content__name-title{
	font-size: 18px;
	margin-top: 20px;
}

.team-content__profession-title {
	margin-top: 5px;
	font-size: 14px;
	color: #4b73b5;
}

.companies-partners__title {
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 5px;
}