.welcome {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.welcome_logo {
	margin-bottom: 20px;
}

.welcome_link {
	padding: 18px 45px 18px 22px;
	text-decoration: none;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #4b73b5;
	color: #4b73b5;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2.2px;
	text-transform: uppercase;
	background-image: url("../../img/main_icon-intro.png"); 
	background-repeat: no-repeat;
	background-position: 88% 16px;
	transition: .5s;
}

.welcome_link:hover {
	display: block;
	color: #fff;
	background-color: #4b73b5;
	background-image: url("../../img/Vector-Smart-Object3.png");
	background-repeat: no-repeat;
	background-position: 88% 16px;
	border: 1px solid #fff;
}

@keyframes welcomeAnimation {
	0%{
		opacity: 0;
		transform: translateY(0);
	}

	20%{
		transform: translateY(-30px);
		opacity: 1;
	}

	40%{
		transform: translateY(0);
	}

	60%{
		transform: translateY(-15px);
	}

	80%{
		transform: translateY(0);
	}

}